@charset "utf-8";
/*Copyright ©2019 LG CNS, All Rights Reserved.*/

/*============================================================
HTML(Common) Elements
=============================================================*/
html, body { height: 100%; -webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-overflow-scrolling:touch; }
html { font-size: 62.5%; }
body { position: relative; font-family: initial !important; color: #333; font-size: 14px; font-weight: 300; line-height: 1.4285; min-width: 320px !important; max-width: 1920px !important; margin: 0 auto; }
* { font-family: "LGSmHaR", dotum, arial, "FontAwesome",	sans-serif !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
li { list-style: none; }
ul, ol, p { margin: 0; padding: 0; }
.blind { position: absolute; left: -10000px; top: -10000px; width: 0; height: 0; font-size: 0; }
.none { display: none; }
.hidden { visibility: hidden; display: none; opacity: 0; }
.hide { opacity: 0; }
.clear { clear: both; }
.right { text-align: right; }
.left { text-align: left; }
a { color: #555; outline: none; }
a:hover { text-decoration: underline; }
a, a:visited, a:focus { text-decoration: none; }
a:hover { text-decoration: none; }
.underline, a.underline { text-decoration: underline; }
strong, .strong { font-weight: 600; }
em { font-style: normal; }
small { color: #999; font-size: 11px; }
figure { margin: 0; }
img { border: 0; vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; font-weight: normal; }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #bbbbbb; }
::-moz-placeholder { /* Firefox 19+ */ color: #bbbbbb; }
:-ms-input-placeholder { /* IE 10+ */ color: #bbbbbb; }
:-moz-placeholder { /* Firefox 18- */ color: #bbbbbb; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #ddd; }
::-webkit-scrollbar-thumb { background: #666; }


/*============================================================
introduction
=============================================================*/
.introduction { min-width: 100%; background: white; color: #333333; margin: 0 auto; }
.introduction #page-container { position: relative !important; width: 920px; padding:0 0px; left: 0; background:#fff; }
.introduction #page-container-wrap { width: 920px; padding-top: 0px; height: 100%; background: #fff; }
.introduction #page-container-wrap.fixinner { width: 920px; padding-top: 250px !important; margin: 0 auto; height: 100%; background: #fff; }
.introduction #page-container-wrap.fixinner .breadcrumb-wrap { position: fixed; top: 160px; width: 100%; }
.introduction #page-container-wrap.tp1 { width: 920px; padding-top: 340px !important; margin: 0 auto; height: 100%; background: #fff; }
.introduction #page-container-wrap.tp1 .breadcrumb-wrap { position:fixed; top:340px; width:100%; padding-top:0px; }
.introduction .imgPop img { width: 100%; }

.contents .con:first-child { padding-top: 60px;}
.contents .con { text-align: center; padding-right: 0px; padding-left: 0px; }
body.introduction #page-container p { line-height: 1.8; font-size: 20px; word-break: keep-all; }
div.section { line-height: 1.8; font-size: 1.2em; }
.top { display: inline-block; position: fixed; right: 5px; bottom: 20px; background: #fff url(../images/ico_arrow_up.png)no-repeat center; border: 1px solid #d8d8d8; width: 54px; height: 54px; text-indent: -9999px; z-index: 100; border-radius: 100px; }


/*============================================================
HTML(Common) Elements for document
=============================================================*/
body.introduction #page-container p.sup { font-weight: lighter; font-size: 0.8em; margin-top: 10px; }
hr { height: 1px; border-width: 0; color: #dbdbdb; background-color: #dbdbdb; margin-bottom: 50px }


/*============================================================
documentation area
=============================================================*/
#page-container h1 { padding-top: 20px; padding-bottom: 20px; font-size: 2.4em; font-weight:600; }
#page-container h2 { color: #c63753; font-size: 2.0em; margin-top: 50px; margin-bottom: 30px; }
#page-container h3 { color: #11627d; font-size: 1.4em; margin-top: 50px; margin-bottom: 20px; }
#page-container .section>h3:FIRST-CHILD { margin-top: 5px; }
#page-container .section>.image-section:FIRST-CHILD>h3:FIRST-CHILD { margin-top: 10px; }

.section { background-color: #f9f9fa; padding: 30px 37px 30px 37px; }
.section img { display: block; margin: 0 auto; }
.section p { padding-left: 1.5em; }
.section ul { list-style: none; padding: 0; margin: 0; }
.section ul>li { padding-left: 1.5em; text-indent: -1.2em; }
.section li::before { content: "•"; color: #11627d; padding-right: 12px; }

.image-section { margin-bottom: 30px; }
.image-section div { display: table-cell; vertical-align: top; padding-right: 30px; }
.image-section div:LAST-CHILD { padding-right: 0px; }

#page-container .image-section h3 { margin-top: 0px; }


/*============================================================
responsive
=============================================================*/
@media ( max-width :1280px) {
	div.section img { display: block; max-width: 740px; width: auto; height: auto; }
}

@media ( max-width :1060px) {
	div.section img { display: block; max-width: 550px; width: auto; height: auto; }
	div.image-section div { display: block; margin-bottom: 40px; }
	.introduction #page-container { margin-left: 20px; }
	/*
	body.introduction #page-container { margin-left: 20px; left:10px; }
	#sidebar { width: 40px; }
	*/
}
@media ( max-width :600px) {
	#links ul li{ display:inline-block; padding-bottom:20px; width:100%; }
	#links ul li a{ width:100%; display:inline-block; }
	.section{ padding:20px; }
	.section img{ width: 100% !important; }
}

.contents .tUnder { font-weight: 600; position: relative; border-bottom: 1px solid #000;}
.contents .ft01 + p.caseS { width: 75%; margin: 0 auto; margin-top: 25px;}
.contents .ft01 + p { margin-top: 50px !important; font-size: 20px !important;}
.contents .bdtBk { padding-top: 110px; margin-top: 100px; margin-bottom: 90px !important; position: relative; font-size: 36px !important;}
.contents .bdtBk:after { content: ''; position: absolute; border-top: 1px solid #e5e5e5; left: 0; right: 0; top: 0; width: calc(100% + 0px);}
.contents .ft01{font-size:40px !important;line-height:58px !important; font-weight: 300 !important;}
.contents .ft01.only{padding-bottom:60px !important;}
.contents .ft02{font-size:30px;line-height:45px;}
.contents h2 { /* font-size: 36px !important; */ color: #333 !important; line-height: 1; position: relative; font-weight: 800;}

/* featureList2li */
.featureList2li{margin-top:50px;}
.featureList2li > ul{display: flex; flex-wrap: wrap; width: calc(100% + 20px); margin-bottom: 20px; margin-left: -20px;}
.featureList2li > ul > li{padding: 20px 20px 20px 45px; margin-bottom:20px; flex: 0 0 calc(50% - 0px); vertical-align: top; position: relative; box-sizing: border-box;}
.featureList2li > ul > li:after{content:'';position:absolute;border:1px solid #e8e8e8;top:0;left:20px;right:0;bottom:0;z-index:0;}
.featureList2li > ul > li .fLNum{float:left; position:relative; width:28px; margin-right:20px; font-size:22px; font-weight:700;}
.featureList2li > ul > li .fLNum:after{content:''; display:block; width:28px; height:1px; background:#bb0841; position:absolute; bottom:4px; left:0;}
.featureList2li > ul > li .fLText{float:right; width:calc(100% - 48px);}
.featureList2li > ul > li .fLText .redTxt{display:block; color:#bb0841; font-size:20px; font-weight:300; text-align:left; margin-top:2px; margin-bottom: 10px;}
.featureList2li > ul > li .fLText li { font-size:16.5px !important; word-break:keep-all; text-align:left; }
.featureList2li > ul.odd{width:calc(50% + 10px);}

/* li hyphen */
.liHyphen.first{margin-top:0;}
.liHyphen.emp{font-weight:700; margin-bottom:25px;}
.liHyphen{margin-top:35px;}
.liHyphen li{position: relative; padding-left: 15px; font-size: 16.5px; text-align: left; line-height:30px; }
.liHyphen li:before{content:''; display:block; width:5px; height:1px; background:#000; position:absolute; top:13px; left:0;}
.liHyphen.white li:before{background:#fff;}
.liHyphen.gray li:before{background:#aaa;}

/* effectTypeTitle */
.effectTypeTitle > ul > li{overflow:hidden; margin-top:30px;}
.effectTypeTitle > ul > li:first-child{margin-top:0;}
.effectTypeTitle .effectTit{width:270px; margin-right:30px; float:left;}
.effectTypeTitle .effectTit span{display:block; font-size:22px; font-weight:700; text-align:left;}
.effectTypeTitle .effectTit span:after{content:''; display:inline-block; width:40px; height:2px; background:#bb0841; vertical-align:top; margin:13px 0 0 15px;}
.effectTypeTitle .effectTit > div{font-size:20px; line-height:36px; margin:5px 0 0 37px; text-align:left; word-break:keep-all; }
.effectTypeTitle .effectText{width:calc(100% - 300px); float:right; padding:25px 30px; background:#fff; border:1px solid #e8e8e8; }
.effectTypeTitle.ver2 .effectTit{width:215px;}
.effectTypeTitle.ver2 .effectText{width:calc(100% - 245px);}

/* effectTypeText */
.effectTypeText .text{padding:25px 30px; background:#f8f8f8;}
.effectTypeText .number{display:block; font-size:20px; font-weight:700;}
.effectTypeText .number:after{content:''; display:inline-block; width:40px; height:2px; background:#bb0841; vertical-align:top; margin:14px 0 0 15px;}
.effectTypeText .text{margin-top:10px;}
.effectTypeText .minHline2{min-height:110px;}
.effectTypeText .minHline3{min-height:140px;}
.effectTypeText .minHline4{min-height:170px;}
.effectTypeText .minHline5{min-height:200px;}
.effectTypeText .defaultLimit{overflow:hidden;}
.effectTypeText .defaultLimit > li{width:31.8%; float:left; margin-top:45px;}
.effectTypeText .defaultLimit > li:nth-child(1),
.effectTypeText .defaultLimit > li:nth-child(3){margin-top:0;}
.effectTypeText .defaultLimit > li:nth-child(2){margin:0 2.3%;}
.effectTypeText .defaultLimit > li:nth-child(3n+5){margin:45px 2.3% 0;}
.effectTypeText .rongLimit{overflow:hidden;}
.effectTypeText .rongLimit > li{width:31.8%; float:left; margin:45px 0 0 2.3%;}
.effectTypeText .rongLimit > li.mglNone{margin-left:0;}
.effectTypeText .rongLimit > li.rong{width:calc(100% - 31.8% - 2.3%);}
.effectTypeText .halfLimit{overflow:hidden;}
.effectTypeText .halfLimit > li{width:calc(50% - 1.15%); margin-top:45px;}
.effectTypeText .halfLimit > li:nth-child(1),
.effectTypeText .halfLimit > li:nth-child(2){margin-top:0;}
.effectTypeText .halfLimit > li:nth-child(odd){float:left;}
.effectTypeText .halfLimit > li:nth-child(even){float:right;}
.effectTypeText .rongLimit > li.mgtZero{margin-top:0;}

/* smallInr */
.smallInr{position:relative; padding:50px 0 100px 68px; border-top:1px solid #d8d8d8;}
.smallInr.pd0{padding:0;}
.smallInr.first{border-top:none; padding:0 0 0 68px;}
.smallInr.fnl{border-top:none; margin-top:0;}
.smallInr.last{padding-bottom:0;}
.smallInr.another{padding:50px 0 0 68px;}
.smallInr.another2{padding:50px 0 50px 68px;}
.smallInr.another3{padding:50px 0 0 68px; margin-top:50px;}
.smallInr h3 strong{position:absolute; top:50px; left:0; color:#aaa; font-size:30px; font-weight:400; line-height:42px;}
.smallInr.first h3 strong{top:-2px;}
.smallInr h3 span{display:block; font-size:28px; color:#111; text-align:left; line-height:38px;}
.smallInr h3 + .caseS{margin-top:15px;}
.smallInr h3 {margin:0 !important;}
.smallInr .topText{margin-top:18px; text-align:left;}
.smallInr .topText strong.redTxtSize20 {font-weight:300;}
.smallInr .infoInr.type2{padding-top:50px;}
.smallInr .infoInr.type3{padding-top:20px; margin-top:50px; border-top:1px solid #d8d8d8}
.smallInr .infoInr .imgList > li{margin-bottom:45px;}
.smallInr .infoInr .dlText.type2 dt {margin-bottom: 5px;}
.smallInr .infoInr .dlText.type2 dd {font-size:16.5px; line-height:30px;}
.smallInr .textArea{padding-top:45px;}
.smallInr .textArea.type2{padding-top:20px;}
.smallInr .textArea .tATit{padding-bottom:8px; display:block; font-size:20px; color:#bb0841; font-weight:700;}
.smallInr .textArea .tATit.colorBk{color:#000;}
.smallInr .textArea span{font-weight:700; padding-right:10px;}
.smallInr .infoImg{padding-top:12px;}
.smallInr .infoImg ul{overflow:hidden;}
.smallInr .infoImg ul li{float:left;margin-right:22px;}
.smallInr .infoImg img{border:1px solid #d8d8d8;}
.smallInr .infoImg ul li p{color:#666; font-size:16px; text-align:center; padding-top:10px; line-height:18px;}
.smallInr .serBtn{margin-top:25px;}
.smallInr .serBtn a{min-width:240px;}
.smallInr .bullet li{position:relative; padding-left:10px;}
.smallInr .bullet li:before{content:''; display:block; width:3px; height:3px; background:#333; position:absolute; top:12px; left:0;}
.smallInr .infoInr .inrImgArea ul{overflow:hidden;}
.smallInr .infoInr .inrImgArea ul li{float:left; margin-left:20px;}
.smallInr .infoInr .inrImgArea ul li:first-child{margin-left:0;}

.smallInr_title_St{overflow:hidden;}
.smallInr_title_St > strong{float:left; display:block; width:65px; color:#aaa; font-size:30px; font-weight:400; line-height:42px;}
.smallInr_title_St > span{float:left; display:block; width:calc(100% - 95px); font-size:30px; line-height:42px;}

/* dl text */
.dlText.first{margin-top:0;}
.dlText{margin-top:35px; text-align:left;}
.dlText dt{font-size:20px; font-weight:300; margin-bottom:5px; line-height:30px; }
.dlText.type2 dt{font-size:20px;}
.dlText.type3 dt{font-size:24px;}
.dlText dt.redTxt{color:#be154b;}
.dlText dd{position:relative; padding-left:12px; font-size:18px; line-height:30px;}
.dlText dd:before{content:''; display:block; width:5px; height:1px; background:#000; position:absolute; top:13px; left:0;}
.dlText dd.hyphenNone{padding-left:0;}
.dlText dd.hyphenNone:before{display:none;}
.redTxtSize20{color:#be154b; font-size:20px;}

/* Download */
.monaDown ul{margin-top:0px;}
.monaDown ul li{overflow:hidden;clear:both;width:100%;border-top:1px solid #e5e5e5;padding:32px 0;display:table;}
.monaDown ul li:last-child{border-bottom:1px solid #e5e5e5;}
.monaDown ul li > div{display:table-cell;vertical-align:middle;box-sizing:border-box;width:310px;}
.monaDown ul li > div:first-child{width:calc(100% - 360px);background:url(../images/img_monaDown.png)no-repeat 40px center;padding-left:120px; text-align:left;}
.monaDown ul li > div.pdfDown{background:url('/static/images/img_pdfDown.png')no-repeat 40px center;}
.monaDown ul li > div:first-child span{font-size:16px;line-height:28px;color:#bb0841;}
.monaDown ul li > div p{font-size:24px;line-height:36px;color:#000;font-weight:300;}
.monaDown ul li > div .btnBox.btn2{float:right; margin-right:40px;}

.btnBk { font-size: 15px; color: #fff; line-height: 27px; font-weight: 700; padding: 9px 20px; background: #000; min-width: 150px; display: inline-block; }
.btnBox.btn2 a { float: left; text-align:left; }
.btnBox.btn2 a:hover { background: #333; -moz-transition: all 0.4s; -webkit-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }

.icoDownWt span { position:relative; text-align: left; display: inline-block; width: 100%; padding-right: 20px; box-sizing: border-box; }
.icoDownWt span:after { content: ""; position: absolute; top: 5px; right: 0; display: inline-block; width: 10px; height: 15px; background: url(../images/ico_download_W.png)no-repeat right center; background-size: 10px 12px; }
.icoDownWt:hover span:after { animation: bounce 1.0s infinite ease-in-out; }
