<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LENA</title>
</head>
<body>
<div class="inner">
    <p class="ft01 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <iframe id="youtube-player" data-youtube-id="pZg69kkhcqI" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="720" height="405" src="https://www.youtube.com/embed/pZg69kkhcqI?autoplay=1&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fsoltech.lgcns.com&amp;widgetid=1"></iframe>
    </p>
</div>
</body>
</html>